
.banner{
    margin-top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner img{
    width: 100vw;
    margin: 0 -2vw 0 -2vw;
}

    .banner .banner-description{
        margin-top: -60vh;
        margin-right: 2vw;
        width: 45vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
        .banner-description h1{
            font-style: Roboto, sans-serif;
            font-weight: bold;
            line-height: 1.2;
            color: #2c4a5f;
            text-align: center;
        }

        .banner-description p{
            margin-top: 5vh;
            font-style: Roboto, sans-serif;
            font-weight: bold   ;
            font-size: 1rem;
            line-height: 1.3;
            text-shadow: 2px 2px 4px #000000;
            color: #fff;
            text-align: center;
        }

        .banner-description a{
            text-decoration: none;
            color: #fff;
            background-color: #3b8fe9;
            border-radius: 5px;
            padding: 1.5vh 3vw;
            margin-right: 2vw;
        }

.expertise{
    width: 100vw;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .expertise h1{
        margin-bottom: 5vh;
        margin-top: 6vh;
        text-shadow: 2px 2px 4px grey;
        font-weight: bold;
    }

    .expertise .categories{
        margin-left: -2.2vw;
        margin-bottom: 5vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
        .categories .section{
            background-color: #fff;
            border: 1px solid lightgray;
            border-radius: 7px;
            width: 22%;
            height: 55vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: 0.3s all linear;
        }

        .categories .section:hover{
            box-shadow: 5px 5px 20px gray;
            background-color: #e3f2fd;
        }

            .section img{
                width: 10vw;
                margin-bottom: 4vh;
                margin-top: -4vh;
            }

            .section h2{
                color: #404551;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                margin-bottom: 4vh;
            }

            .section p{
                width: 90%;
                color: #abadbe;
            }

.carouselWidth{
    width: 100vw;
    margin-bottom: 5vh;
    margin-left: -1.2vw;
    border-radius: 5px;
    box-shadow: 5px 25px 20px #cae3f3;
}       

    .carouselWidth img{
        width: 100%;
        height: 50vh;
    }

.contactSection{
    background-image: url(/assets/contact.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contactSection .contactForm{
    width: 60vw;
    height: 100vh;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 10px 25px gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
    
    .contactForm img{
        width: 60vw;
        height: 40vh;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .contactForm .overlay{
        margin-top: -40vh;
        width: 100%;
        height: 40vh;
        background-color: #808080;
        opacity: 0.5;
        z-index: 100;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .contactForm .labelInputs{
        margin-top: 4vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contactForm .submitbtn{
        color: white;
        font-size: 1.2rem;
        padding: 1vh 3vw 2.4vh 3vw;
        margin-bottom: 6vh;
        background: #57b846;
        border: 1px solid #fff;
        border-radius: 20px;
        transition: 0.2s all linear;
    }

    .contactForm .submitbtn:hover{
        background: #fff;
        color: #57b846;
        border: 1px solid #57b846;
    }

        .labelInputs label{
            font-family: Poppins-Regular;
            font-size: 1.5rem;
            color: #808080;
            line-height: 1.2;
        }

        .labelInputs input{
            margin-left: 2vw;
            padding-left: 0.6vw;
            width: 30vw;
            border: none;
            border-radius: 5px;
            border-bottom: 1px solid #808080;
            outline: none;
            transition: 0.2s all linear;
        }

        .labelInputs input:focus{
            border-bottom: 1px solid #57b846;
        }

        .labelInputs textarea{
            margin-top: 4vh;
            margin-bottom: 10vh;
            margin-left: 2vw;
            padding-left: 0.6vw;
            width: 30vw;
            height: 15vh;
            resize: none;
            border: none;
            border-radius: 5px;
            border-bottom: 1px solid #808080;
            outline: none;
            transition: 0.2s all linear;
        }

        .labelInputs textarea:focus{
            border-bottom: 1px solid #57b846;
        }

footer{
    width: 100vw;
    height: 12vh;
    margin-left: -1.2vw;
    background: #404551;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

    footer p{
        color: #fff;
        margin-top: 3vh;
    }

    footer p span{
        color: #88cbf8;
    }

    footer p img{
        width: 3vw;
        margin-left: 0.5vw;
    }


